<div class="items-list full-size">
  
  {{! General Abilities }}
  <div class="item flexrow items-header grid grid-13col small-table-header">
    <div class=" flex-group-center grid-span-5">Ability</div>
    <div class="flex-group-center grid-span-2">Ranks</div>
    <div class="flex-group-center grid-span-3"></div>
    <div class="flex-group-center grid-span-2">Frequency</div>
    <div class='item-controls flex-group-center'>
        <a
          class='item-control item-create'
          title='Create item'
          data-type='ability' data-action="createItem">
          <i class='fas fa-plus'></i>
        </a>
    </div>
  </div>

  <div id="abilities" class="items-list full-size technique-table">
  {{#each ability}}
  {{#each this as |item id|}}
    <div class='item flexrow grid grid-13col grid-table list-item' data-item-id='{{item._id}}'>
      <div class='item-name grid-span-5 flexrow'>
        <img
        class="item-image"
          src='{{item.img}}'
          title='{{item.name}}'
          width='24'
          height='24'
        />
      <a
        class='item-control item-edit'
        title='{{localize "DOCUMENT.Update" type='Item'}}' data-action="editItem">
        <h4>{{item.name}}</h4>
      </a>
      </div>
      <div class="item-ranks grid-span-2 flex-group-center">
        {{#if (comparison item.system.subtype 'Capability')}}
          <h4><strong> - </strong></h4>
        {{else}}
          <h4>{{item.system.effect.intensity}}</h4>
        {{/if}}
      </div>
      <div class="item-target grid-span-3 flex-group-center">
        <h4>{{item.system.effect.target}}</h4>
      </div>
      <div class="item-frequency grid-span-2 flex-group-center">
        {{#if (comparison system.subtype 'Capability')}}
        <h4><strong> - </strong></h4>
        {{else}}
        <h4><strong>{{item.system.effect.frequency}}/round</strong></h4>
        {{/if}}
      </div>
      <div class="item-controls">
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Item'}}' data-action="deleteItem">
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>
    {{/each}}
  {{/each}}
  </div>

  {{! Charge Attacks }}
  {{#if chargeAttack}}
  <div class="item flexrow items-header grid grid-10col small-table-header">
    <div class=" flex-group-center grid-span-5">Charge Attack</div>
    <div class="flex-group-center grid-span-2">Rank</div>
    <div class="flex-group-center grid-span-2">Sets</div>
    <div class='item-controls flex-group-center'>
        <a
          class='item-control item-create'
          title='Create item'
          data-type='ability' data-action="createItem">
          <i class='fas fa-plus'></i>
        </a>
    </div>
  </div>
  <div id="abilities" class="items-list full-size technique-table">
  {{#each chargeAttack as |item id|}}
    <div class='item flexrow grid grid-10col grid-table list-item' data-item-id='{{item._id}}'>
      <div class='item-name grid-span-5 flexrow'>
        <img
          class="item-image"
          src='{{item.img}}'
          title='{{item.name}}'
          width='24'
          height='24'
        />
      <a
        class='item-control item-edit'
        title='{{localize "DOCUMENT.Update" type='Item'}}' data-action="editItem">
        <h4>{{item.name}}</h4>
      </a>
      </div>
      <div class="item-ranks grid-span-2 flex-group-center">
          <h4>{{item.system.effect.intensity}}</h4>
      </div>
      <div class="item-sets grid-span-2 flex-group-center">
        <h4>{{item.system.effect.sets}} sets</h4>
      </div>
      <div class="item-controls">
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Item'}}' data-action="deleteItem">
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>
  {{/each}}
  </div>
  {{/if}}
</div>
