<div class="sidebar-small char-sidebar">
<ol class='items-list full-size'>
    <li class="prana resources">
    <div class="resource flex-group-center">
        <div>
            <button class="technique-header" type="button" id="prana-flare" data-action="pranaFlare">Prana Flare</button>
        </div>
        <div>
            <button class="technique-header" type="button" id="recover-prana" data-action="recoverPrana">Reset Prana</button>
        </div>
        <label for="system.prana.value" class="resource-label">Prana</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input {{#unless inCombat}} class="active-prana-gen" {{else}} class="prana-gen" {{/unless}} type="text" name="system.prana.gen.outOfCombat" value="{{system.prana.gen.outOfCombat}}" data-dtype="Number" disabled/>
            <input type="text" class="flex-2" name="system.prana.value" value="{{system.prana.value}}" data-dtype="Number"/>
            <input {{#if inCombat}} class="active-prana-gen" {{else}} class="prana-gen" {{/if}} type="text" name="bonusPrana" value="{{bonusPrana}}" data-dtype="Number" disabled/>
        </div>
    </div>
    <div class="grid grid-2col grid-close">
        <div class="resource flex-group-center">
            <label for="system.pool.lvl" class="pool-label">Pool</label>
            <input type="text" name="system.pool.lvl" value="{{system.pool.lvl}}" data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.pool.recovery" class="pool-label">Recover</label>
            <input type="text" name="system.pool.recovery" value="{{system.pool.recovery}}" data-dtype="Number"/>
        </div>
    </div>
    </li>

    <li class="resource flex-group-center flex-column">
    <label for="system.chakras.value" class="resource-label">Chakras</label>
    <div class="active-chakras small-box">
        <input id="chakra-display" type="number" class="full-size" name="system.chakras.value" value="{{system.chakras.value}}" data-dtype="Number" readonly/>
        {{#unless (comparison system.chakras.value 7)}}
        <img
        class="chakra-increase"
        src="systems/lone-wolf-fists/assets/resources/arrup.png"
        title='Open Chakra'
        width='10'
        height='10'
        data-action="increaseChakra"/>
        {{/unless}}
        {{#unless (comparison system.chakras.value minChakras)}}
        <img
        class="chakra-decrease"
        src="systems/lone-wolf-fists/assets/resources/arrdown.png"
        title='Close Chakra'
        width='10'
        height='10'
        data-action="decreaseChakra"/>
        {{/unless}}
    </div>
    </li>
{{#each chakras as | skill | }}
<li class='item flex-group-center'>
    <div class='item-image' data-imbtype="{{skill}}">
        <img
        class="chakra-image"
        {{#if (lookup ../system.chakras.awakened skill)}}
        src='systems/lone-wolf-fists/assets/Chakras/{{skill}} Awakened.png'
        {{else}}
        src='systems/lone-wolf-fists/assets/Chakras/{{skill}}.png'
        {{/if}}
        title='{{skill}}'
        width='40'
        height='40'
        data-action="toggleChakra"/>
    </div>
    <h4 class="skill">
    {{#if (lookup ../system.chakras.awakened skill)}}<strong>{{skill}}</strong>
    {{else}}{{skill}}
    {{/if}}
    </h4>
</li>
{{/each}}
</div> 
