{{#unless (comparison actor.type 'squad')}}
<div>
  <select name="techniqueDisplay" id="techniqueDisplay" class="techniqueDisplay">
    <option value="all" {{#if (comparison system.techTableFocus "all")}} selected {{/if}}>All</option>
    <option value="attack" {{#if (comparison system.techTableFocus "attack")}} selected {{/if}}>Attack</option>
    <option value="defense" {{#if (comparison system.techTableFocus "defense")}} selected {{/if}}>Defense</option>
    <option value="mudra" {{#if (comparison system.techTableFocus "mudra")}} selected {{/if}}>Mudra</option>
    <option value="balance" {{#if (comparison system.techTableFocus "balance")}} selected {{/if}}>Balance</option>
    <option value="forms" {{#if (comparison system.techTableFocus "forms")}} selected {{/if}}>Forms</option>
    <option value="guptKala" {{#if (comparison system.techTableFocus "guptKala")}} selected {{/if}}>Gupt Kala</option>
  </select>
</div>
{{/unless}}

<div id="all" class="items-list full-size flex-column techniqueTable">
  <div class="items-list full-size flex flexrow">
  {{#if (comparisonOr system.techTableFocus "all" "forms")}}
  {{#if (arrayNotEmpty form)}}
    <div id="forms" class="items-list full-size flex-2 techniqueTable">
      <div class="item flexrow items-header grid grid-8col small-table-header">
        <div class="item-name grid-span-5">Form</div>
        <div class="flex-group-center">A</div>
        <div class="flex-group-center">D</div>
        <div class="flex-group-center"></div>
      </div>
      {{#each form as | item id |}}
      <div class='item flexrow grid grid-8col grid-table' data-item-id='{{item._id}}'>
        <div class="item-name grid-span-5">
          <a
            class='item-control item-edit item-name'
            title='{{localize "DOCUMENT.Update" type='Item'}}' data-action="editItem">
          <img
            class="item-image"
            src='{{item.img}}'
            title='{{item.name}}'
            width='24'
            height='24'
          />
          <h4>{{item.name}}</h4>
          </a>
        </div>
        <div class="flex-group-center">
          {{!-- Check the following possibilites: there is only one facing the form applies to; there are 2 facings the form applies to; there are no facings the form applies to. Set the vallue accordingly. --}}
          <input class="item-choice" type="text" name="item.system.attackBoost"
          {{#if item.system.attackBoost.none}} value="--" {{else}}
          {{#unless item.system.attackBoost.doubled}} value="{{item.system.attackBoost.min}}" {{else}}
          value="{{item.system.attackBoost.min}} - {{item.system.attackBoost.max}}"
          {{/unless}}
          {{/if}}
          readonly disabled>
        </div>
        <div class="flex-group-center">
          <input class="item-choice" type="text" name="item.system.defenseBoost"
          {{#if item.system.defenseBoost.none}} value="--" {{else}}
          {{#unless item.system.defenseBoost.doubled}} value="{{item.system.defenseBoost.min}}" {{else}}
          value="{{item.system.defenseBoost.min}} - {{item.system.defenseBoost.max}}"
          {{/unless}}
          {{/if}} readonly disabled>
        </div>
        <div class="item-controls">
          <a
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='Item'}}' data-action="deleteItem">
          <i class='fas fa-trash'></i>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
    {{/if}}
    
    {{! List all gupt kala, if any are present}}
    {{#if (comparisonOr system.techTableFocus "all" "guptKala")}}
    {{#if (arrayNotEmpty guptKala)}}
    <div id="guptKala" class="items-list full-size techniqueTable">
      <div class="item flexrow items-header grid grid-6col small-table-header">
        <div class="item-name grid-span-5">Gupt Kala</div>
        <div class="flex-group-center"></div>
      </div>
      {{#each guptKala as | item id |}}
      <div class='item flexrow grid grid-6col grid-table' data-item-id='{{item._id}}'>
        <div class="item-name grid-span-5">
          <a
            class='item-control item-edit item-name'
            title='{{localize "DOCUMENT.Update" type='Item'}}' data-action="editItem">
          <img
            class="item-image"
            src='{{item.img}}'
            title='{{item.name}}'
            width='24'
            height='24'
          />
          <h4>{{item.name}}</h4>
          </a>
        </div>
        <div class="item-controls">
          <a
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='Item'}}' data-action="deleteItem">
            <i class='fas fa-trash'></i>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  {{/if}}
  {{/if}}
  </div>
  
  {{#unless (comparisonOr system.techTableFocus "forms" "guptKala")}}
  <div class="item flexrow items-header grid grid-24col technique-header grid-table">
    <div class="item-name grid-span-7">Technique</div>
    <div class="flex-group-center grid-span-6">Requirements</div>
    <div class="flex-group-center grid-span-2">Cost</div>
    <div class="flex-group-center grid-span-2">Rank</div>
    <div class="flex-group-center grid-span-3">Facing</div>
    <div class="flex-group-center grid-span-3">Skill</div>
    <div class="flex-group-center"></div>
  </div>
  {{/unless}}
  {{!-- This code is identical instances of iterating over lists of different types of technique. TODO: find a better way to do this --}}
  {{#each techniques}}
  {{#if (comparisonOr ../system.techTableFocus "all" @key)}}
  <div id="{{@key}}" class="full-size technique-table items-list">
  {{#each this as |item id|}}
    {{#if (comparison ../../system.techTableFocus "all")}}
    {{#if (comparison @index 0)}}
    <div class="full-size flex-group-center tech-label attacks techniqueTable">
      <h4><i>{{@../key}}</i></h4>
    </div>
    {{/if}}
    {{/if}}
    <div class='item flexrow grid grid-24col grid-table list-item' data-item-id='{{item._id}}'>
      <div class='item-name grid-span-7'>
        <a
          class='item-control item-edit item-name'
          title='{{localize "DOCUMENT.Update" type='Item'}}' data-action="editItem">
        <img
          class="item-image"
          src='{{item.img}}'
          {{#if (comparison item.type "artifact")}}
          title='{{item.system.techniqueName}}'
          {{else}}
          title='{{item.name}}'
          {{/if}}
          width='24'
          height='24'
        />
        <h4>
          {{#if (comparison item.type "artifact")}}
          {{item.system.techniqueName}}
          {{else}}
          {{item.name}}
          {{/if}}
          </h4>
        </a>
      </div>
      <div class="item-requirements grid-span-6 flex-group-center">
        <h4>{{item.system.techReqs}}</h4>
      </div>

      <div class="item-cost-facing grid-span-2 flex-group-center">
        <h4>
          {{#if (comparison item.system.techCost 0)}}
          -
          {{else}}
          {{item.system.techCost}}
          {{/if}}
        </h4>
      </div>

      <div class="item-cost-facing grid-span-2 flex-group-center">
        <h4>
          {{#if (comparison item.system.techRank 0)}}
          -
          {{else}}
          {{item.system.techRank}}
          {{/if}}
        </h4>
      </div>

      <div class="item-cost-facing grid-span-3 flex-group-center">
        <h4>
          {{#if (comparisonTwo item.system.techFacing.min 0 item.system.techFacing.max 9)}}
          All
          {{else}}
          {{item.system.techFacing.min}}-{{item.system.techFacing.max}}
          {{/if}}
        </h4>
      </div>

      <div class="item-skill flex-group-center grid-span-3">
        <h4>
        {{#unless (comparison item.type 'artifact')}}
          {{item.system.techSkill}}
        {{else}}
          -
        {{/unless}}
        </h4>
      </div>
      <div class="item-controls">
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Item'}}' data-action="deleteItem">
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>
  {{/each}}
  </div>
  {{/if}}
  {{/each}}
</div>
