<div>
  <div class='items-list'>
    <div class='item flexrow items-header grid grid-7col'>
      <div class='item-name flex-group-center grid-span-4'>{{localize 'Name'}}</div>
      <div class='flex-group-center'>Size</div>
      <div class="flex-group-center">Quantity</div>
      <div class='item-controls flex-group-center'>
        <a
          class='item-control item-create'
          title='{{localize "DOCUMENT.Create" type='Item'}}'
          data-type='item' data-action="createItem">
          <i class='fas fa-plus'></i>
        </a>
      </div>
    </div>
    {{#each gear as |item id|}}
    <div class='item flexrow grid grid-7col' data-item-id='{{item._id}}'>
      <div class='item-name grid-span-4 flexrow'>
        <a
          class='item-control item-edit flexrow flex-group-center'
          title='{{localize "DOCUMENT.Update" type='Item'}}' data-action="editItem">
        <div class='item-image'>
          <img
            src='{{item.img}}'
            title='{{item.name}}'
            width='30'
            height='30'
          />
        </div>
        <h4>{{item.name}}</h4>
        </a>
      </div>
      {{#if (comparison item.type 'artifact')}}
      <div class="flex-group-center grid-span-2" data-imbtype="tier">
        <h4>{{item.system.tier}}</h4>
      </div>
      {{else}}
      <div class="flex-group-center" data-imbtype="size">
        <input class="item-choice" type="text" name="item.system.size" value="{{item.system.size}}" data-dtype="Number"/>
      </div>
      <div class="flex-group-center" data-imbtype="quantity">
        <input class="item-choice" type="text" name="item.system.quantity" value="{{item.system.quantity}}" data-dtype="Number"/>
      </div>
      {{/if}}
      <div class='item-controls'>
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Item'}}' data-action="deleteItem">
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>