<form class="{{cssClass}} {{actor.type}} flexcol lwf-sheet-form lwf-actor-sheet-form" autocomplete="off">
<div class="sheet">
  {{!-- Sheet Header --}}
  <div class="sidebar flex-group-center">
    <img class="profile-img monster flex-group-center" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <h4 id="actor-type" class="full-size"><i>{{actor.type}}</i></h4>
    {{#unless system.editMode}}
    <div class="resources">
      <div id="membership" class="resource flex-group-center inner-margin npc-sidebar">
        <div>
          <label for="membership-current" class="resource-label">Membership</label>
          <h4 id="membership.value" class="font-size-20">{{system.membership.value}}</h4>
        </div>
        <div class="flex flexrow">
          <div id="size" class="flex-column flex-group-center">
            <label class="resource-label">Def</label>
            <div id="health-level-input" class=" flex-group-center flexshrink">
              <h4>Rank {{system.defense}}</h4>
            </div>
          </div>
          <div id="size" class="flex-column flex-group-center">
            <label class="resource-label">Bonus</label>
            <div id="health-level-input" class=" flex-group-center flexshrink">
              <h4>+{{system.bonus}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div id="effort" class="resource flex-group-center flex-column npc-sidebar">
        <label for="power-input" class="resource-label">Effort</label>
        <div id="effort-display" class="flex-group-center flex" data-action="rollEffort">
          <h4 id="power-input"><strong>{{system.power.lvl}}</strong></h4>
        </div>
      </div>
      <div id="health" class="resource flex-group-center inner-margin npc-sidebar">
        <div>
          <label for="health-current" class="resource-label">Health</label>
          <div id="health" class="resource-content max-min flexrow flex-group-center">
            <input class="health-current stat-current" type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
            <input class="health-max stat-max" type="text" name="system.health.max" value="{{system.health.max}}" readonly disabled data-dtype="Number"/>
          </div>
        </div>
      </div>
      <div class="resource-content flex-group-center flex-between inner-margin npc-sidebar">
        <label for="armor-input" class="resource-label">Armor</label>
        <div class="flex-group-center flex">
          <div class="armor-icon npc monster-sheet flex flex-group-center">
            <img
              class="full-size"
              src='systems/lone-wolf-fists/assets/resources/Armor-symbol.svg'
              title='Armor symbol'
              width='40'
              height='40'
            />
            <h4 class="armor-value full-size">{{armorValue}}</h4>
          </div>
        </div>
      </div>
    </div>
    {{/unless}}
  </div>


  <div class="body">
    <header class="sheet-top">
      <div class="header-fields position-relative flex-column">
        <div class="title">
          <h1 id="name" class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
        {{#if isGM}}
        <div class="full-size edit-container">
        {{#unless system.editMode}}
        <i id="edit-mode" class="fa-solid fa-gear edit-mode-off" data-action="toggleEditMode">Edit</i>
        {{/unless}}
        </div>
        {{/if}}
      </div>
    </header>

    {{#if system.editMode}}
    <div class="flex flex-column flex-group-center" >
      <h2>Set Initial Numbers</h2>
      <h3><input id="membership-set" class="stat-current medium-box" type="text" name="membership-max" value="{{system.membership.max}}" data-dtype="Number"/></h3>
      <button id="edit-mode" class="medium-box" data-action="toggleEditMode">Set</button>
    </div>
    {{else}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item" data-tab="core">Core</a>
      <a class="item" data-tab="description">Description</a>
      {{#if isGM}}
      <a class="item" data-tab="config">Config</a>
      {{/if}}
    </nav>
    <section class="sheet-body">
      <div class="tab core" data-group="primary" data-tab="core">
        <div class="half-size platoon-membership monster-body-box flex-group-center">
          {{#each living}}
            <div class="member squad"></div>
          {{/each}}
          {{#each dead}}
            <div class="member squad dead"></div>
          {{/each}}
        </div>

        <div class="flexrow flex-group-center monster-body-box">
          <div class="flex-column">
            <h4 class="full-size section-header">Tactics</h4>
            <textarea name="system.tactics" rows="5">{{system.tactics}}</textarea>
          </div>
          <div class="flex-column">
            <h4 class="full-size section-header">Capabilities</h4>
            <textarea name="system.capabilities" rows="5">{{system.capabilities}}</textarea>
          </div>
        </div>
        
        <div class="flex-column flex-group-center monster-body-box">
          <h4 id="equipment-heading" class="full-size section-header">Equipment</h4>
            {{> "systems/lone-wolf-fists/templates/actor/parts/actor-equipment.hbs"}}
            {{> "systems/lone-wolf-fists/templates/actor/parts/actor-items.hbs"}}
        </div>
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
        {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
          {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
      </div>

      {{! Config tab }}
      {{#if isGM}}
      <div class="tab config" data-group="primary" data-tab="config">
        {{> "systems/lone-wolf-fists/templates/actor/parts/actor-config.hbs"}}
      </div>
      {{/if}}
    </section>
    {{/if}}
  </div>
</form>

