<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
<div class="sheet">
{{! Sidebars }}
  {{! Chakras sidebar}}
  {{#if system.hasChakra}}
    {{> "systems/lone-wolf-fists/templates/actor/parts/actor-chakras.hbs"}}
  {{/if}}
  {{! Stats sidebar }}
  <div class="sidebar flex-group-center">
    <img class="profile-img monster flex-group-center" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="flex flex-group-center">
      <i><h4 id="actor-type" class="full-size flex-group-center">
      {{#if system.editMode}}
        <input type="radio" id="monster" name="system.isHero" {{#unless system.isHero}} checked {{/unless}} value=false data-techstat="isHero">
        <label for="monster">Monster</label><br>
        <input type="radio" id="mortal" name="system.isHero" {{#if system.isHero}} checked {{/if}} value=true data-techstat="isHero">
        <label for="mortal">Mortal</label><br>
      {{else}}
        {{#if system.isHero}}
          Mortal
        {{else}}
          Monster
        {{/if}}
      {{/if}}
      </h4></i>
    </div> 
    <div class="resources">
      <div id="effort" class="resource flex-group-center flex-column npc-sidebar">
        <label for="power-input" class="resource-label">{{#if system.isHero}}Effort{{else}}Ferocity{{/if}}</label>
        {{#if system.editMode}}
        <input id="power-input" class="smallish-box short-box" type="text" name="system.power.lvl" value="{{system.power.lvl}}" data-dtype="Number">
        {{else}}
        <div id="effort-display" class="flex-group-center flex" data-action="rollEffort">
          <h4 id="power-input"><strong>{{system.power.lvl}}</strong></h4>
        </div>
        {{/if}}
      </div>
      {{! Editable Health Widget}}
      {{#if system.editMode}}
      <div id="health-levels" class="health-levels flex-column flex-group-center npc-sidebar">
        <label class="resource-label">Health levels</label>
        <div id="health-level-input" class=" flex-group-center flexshrink">
          <input id="health-levels" type="text" name="system.health.lvl" value="{{system.health.lvl}}" data-dtype="Number">
        </div>
      </div>
      {{else}}
      <div id="health" class="resource flex-group-center inner-margin npc-sidebar">
        <div>
          <label for="health-current" class="resource-label">Health</label>
          <div id="health-container" class="resource-content max-min flexrow flex-group-center">
            <input class="health-current stat-current" type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
            <input class="health-max stat-max" type="text" name="system.health.max" value="{{system.health.max}}" readonly disabled data-dtype="Number"/>
          </div>
        </div>
      </div>
      {{/if}}
      {{! Editable armor widget}}
      <div class="resource-content flex-group-center flex-between inner-margin npc-sidebar">
        <label for="armor-input" class="resource-label">Armor</label>
        <div class="flex-group-center flex">
          {{#if system.editMode}}
          <input id="armor-input" class="small-box" type="text" name="system.armor" value="{{system.armor}}" data-dtype="Number">
          {{else}}
          <div class="armor-icon npc monster-sheet flex flex-group-center">
            <img
              class="full-size"
              src='systems/lone-wolf-fists/assets/resources/Armor-symbol.svg'
              title='Armor symbol'
              width='40'
              height='40'
            />
            <h4 class="armor-value full-size">{{system.armor}}</h4>
          </div>
          {{/if}}
        </div>
      </div>
      {{! Size widget }}
      <div id="size" class="flex-column flex-group-center npc-sidebar">
        <label for="size-input" class="resource-label">{{#if system.isHero}}Focus{{else}}Size{{/if}}</label>
        <div id="size-input-container" class=" flex-group-center flexshrink">
          {{#if system.editMode}}
          <input id="size-input" class="smallish-box" type="text" name="system.size" value="{{system.size}}" data-dtype="Number">
          {{else}}
          <h4 id="size-input">{{system.size}}</h4>
          {{/if}}
        </div>
      </div>
      {{! Loyalty widget }}
      {{#if system.master.id}} {{!TODO: replace this with what the actual value will be}}
      <div id="loyalty" class="flex-column flex-group-center npc-sidebar">
        <label for="loyalty-input" class="resource-label">Loyalty</label>
        <div id="loyalty-input-container" class=" flex-group-center flexshrink">
          {{#if system.editMode}}
          <input id="loyalty-input" class="smallish-box" type="text" name="system.master.loyalty.lvl" value="{{system.master.loyalty.lvl}}" data-dtype="Number">
          {{else}}
          <h4 id="loyalty-input">{{system.master.loyalty.lvl}}</h4>
          {{/if}}
        </div>
      </div>
      {{/if}}
      {{! Show chakras widget }}
      {{#if system.editMode}}
      <div class="npc-sidebar">
        <div class="flexrow flex-group-center">
          <input type="checkbox" class="flex" name="system.hasChakra"  {{#if system.hasChakra}}checked{{/if}} value=true>
          <label class="rightside flex">NPC has chakra</label>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

  {{! Main Body }}
  <div class="body">
  <header class="sheet-top">
    <div class="header-fields position-relative flex-column">
      <div class="title">
        <h1 id="name" class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      </div>
      {{#if isGM}}
      <div class="full-size edit-container">
      {{#if system.editMode}}
      <i id="edit-mode" class="fa-solid fa-gear edit-mode-on" data-action="toggleEditMode">Play</i>
      {{else}}
      <i id="edit-mode" class="fa-solid fa-gear edit-mode-off" data-action="toggleEditMode">Edit</i>
      {{/if}}
      </div>
      {{/if}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="core">Core</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
    {{#if isGM}}
    <a class="item" data-tab="config">Config</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{! Core tab }}
    <div class="tab core" data-group="primary" data-tab="core">
      {{! Abilities box }}
      <div class="flex-column flex-group-center monster-body-box">
        <h4 id="ability-heading" class="full-size section-header">Capabilities</h4>
        {{> "systems/lone-wolf-fists/templates/actor/parts/actor-abilities.hbs"}}
      </div>
      {{! Imbalances box }}
      <div class="flex-column flex-group-center monster-body-box">
        <h4 id="imbalance-heading" class="full-size section-header">Imbalances</h4>
        {{> "systems/lone-wolf-fists/templates/actor/parts/actor-imbalances.hbs"}}
      </div>
      <div class="flex-column flex-group-center monster-body-box">
        <h4 id="equipment-heading" class="full-size section-header">Equipment</h4>
        {{> "systems/lone-wolf-fists/templates/actor/parts/actor-equipment.hbs"}}
        {{> "systems/lone-wolf-fists/templates/actor/parts/actor-items.hbs"}}
      </div>
      {{! Techniques box - only visible if the npc has techniques}}
      <div class="flex-group-center monster-body-box">
        {{#if hasTechniques}}
        <h4 id="techniques-heading" class="full-size section-header">Techniques</h4>
        {{> "systems/lone-wolf-fists/templates/actor/parts/actor-techniques.hbs"}}
        {{/if}}
      </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
        {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Effects tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-effects.hbs"}}
    </div>

    {{! Config tab }}
    {{#if isGM}}
    <div class="tab config" data-group="primary" data-tab="config">
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-config.hbs"}}
    </div>
    {{/if}}

  </section>
  </div>
  </div>
</form>