<form class="{{cssClass}} {{actor.type}} flexcol lwf-sheet-form lwf-actor-sheet-form" autocomplete="off">

  <div class="sheet">
  {{!-- Chakra sidebar --}}
    {{> "systems/lone-wolf-fists/templates/actor/parts/actor-chakras.hbs"}}

  {{!-- Main section of the sheet --}}
  <div class="body">
  <header class="sheet-top">
    <div class="sidebar flex-group-center">
      <img class="profile-img flex-group-center" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120"/>
      <div class="resources">
        <div id="degree" class="resource flex-group-center font-size-20">
          <label for="system.degree.lvl" class="resource-label">Degree</label>
          <div class="">
            <input id="degree-input" class="small-box" type="text" name="system.degree.lvl" value="{{system.degree.lvl}}" data-dtype="String"/>
          </div>
        </div>
        <div class="grid grid-2col">
          <div id="effort" class="resource flex-group-center flex-column">
            <label for="system.power.lvl" class="resource-label">Effort</label>
            <div id="effort-display" class="flex-group-center flex" data-action="rollEffort">
              <h4><strong>{{system.power.final}}</strong></h4>
            </div>
            {{#if system.advancement.effort}}
            <small class="advancement-bonus">+{{system.advancement.effort}} advancement</small>
            {{/if}}
          </div>
          <div id="effortless" class="resource flex-group-center">
            <label for="system.effortless.lvl" class="resource-label">E-less</label>
            <div class="">
              <h4>Rank {{system.effortless.lvl}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-fields">
      <div class="title grid grid-8col grid-close">
        <h1 id="name" class="charname grid-span-5"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <h1 id="archName" class="charname grid-span-3"><input name="system.archetype" type="text" value="{{system.archetype}}" placeholder="Archetype" readonly disabled></h1>
        <h1 id="clanName" class="charname grid-span-8"><input name="system.clan" type="text" value="{{system.clan}}" placeholder="Clan"></h1>
      </div>
      <div class="flex-5 tall-box flex-column">
        <div class="damage resources flexrow">
          <div id="health" class="flex-4 resource flex-group-center inner-margin">
            <div class="flex-4">
              <label for="system.health.value" class="resource-label">Health</label>
              <div id="health" class="resource-content max-min flexrow flex-group-center">
                <input class="health-current stat-current" type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
                <input class="health-max stat-max" type="text" name="system.health.max" value="{{system.health.max}}" readonly disabled data-dtype="Number"/>
                {{#if system.advancement.health}}
                <small class="advancement-bonus">+{{system.advancement.health}} health {{#if (comparison system.advancement.health 1)}}level{{else}}levels{{/if}}</small>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="rest-container flex flex-group-center">
            <div id="rest-button" class=" flex-group-center flexshrink" title="Rest and recover health" data-action="rest">
            </div>
          </div>
          <div class="flex-4 resource flex-group-center inner-margin">
            <div>
            <label for="system.aura.value" class="resource-label">Aura</label>
              <div id="aura" class="resource-content max-min flexrow flex-group-center">
                <input id="aura-current" class="stat-current" type="text" name="system.aura.value" value="{{system.aura.value}}" data-dtype="Number"/>
                <input id="aura-max" class="stat-max" type="text" name="system.aura.max" value="{{system.aura.max}}" readonly disabled data-dtype="Number"/>
              </div>
            </div>
          </div>
          <div class="flex-2 resource-content flex-group-center flex-between inner-margin">
            <label for="system.armorValue" class="resource-label">Armor</label>
              <div class="flex-group-center flex">
                <div class="armor-icon flex flex-group-center">
                  <img
                    class="full-size"
                    src='systems/lone-wolf-fists/assets/resources/Armor-symbol.svg'
                    title='Armor symbol'
                    width='36'
                    height='36'
                  />
                  <h4 class="armor-value full-size">{{armorValue}}</h4>
                </div>
              </div>
          </div>
        </div>
        {{#if system.optImbalances.enabled}}
        <div id="optImbalances.level" class="resource flex-group-left flex">
          <div class="resource flex-group-center flexrow">
            <label for="system.optImbalances.level" class="resource-label">Imbalance Level</label>
            <div class="font-size-20">
              <input id="optImbalance-level-input" class="small-box" type="text" name="system.optImbalances.level" value="{{system.optImbalances.level}}" data-dtype="String"/>
            </div>
          </div>
        </div>
        {{/if}}

        <div class="resources grid grid-9col grid-close">
          {{! display focus slots up to the value determined by level, hide all subsequent slots}}
          <label for="system.foci.lvl" class="resource-label grid-span-2 flexrow flex-group-center">Focus Slots</label>
          {{#each system.foci.slots}}
            <div {{#unless (lessThan @index ../system.foci.lvl )}} hidden {{/unless}} class="resource flex-group-center">
              <input type="text" id="focus-{{@index}}" class="focusSlot" data-findex="{{@index}}" name="system.foci.slots.{{@index}}" value="{{this}}" data-dtype="Number">
            </div>
          {{/each}}
        </div>
      </div>
      <div class="character-action-buttons">
        <button type="button" class="sheet-control-button" data-action="configureAdvancement">Advancement</button>
        {{#if skill.missing}}
        <button type="button" id="newMasteries" class="sheet-control-button" data-missing="{{skill.difference}}" data-action="chooseMasteries">Choose your masteries</button>
        {{/if}}
      </div>
    </div>
  </header>
  {{! If the player does not have enough masteries, prompt them to add more}}


  {{! if no archetype has been chosen yet, prompt the player to choose one}}
  {{#if (comparison system.archetype "")}}
  <section class="choose-archetype flex-column flex-group-center">
    <h1>Choose an archetype</h1>
    <p>Select the character archetype that sets your starting stats.</p>
    <button type="button" class="sheet-control-button" data-action="chooseArchetype">Choose Archetype</button>
  </section>
  {{else}}
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="core">Techniques</a>
    <a class="item" data-tab="imbalances">
      {{#if system.optImbalances.enabled}}Injuries
      {{else}}Imbalances
      {{/if}}
    </a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="followers">Followers</a>
    <a class="item" data-tab="dharma">Dharma</a>
    <a class="item" data-tab="bio">Bio</a>
    {{! Hidden final tab where the GM can change around character options}}
    {{#if isGM}}
    <a class="item" data-tab="config">Config</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Techniques Tab --}}
    <div class="tab techniques" data-group="primary" data-tab="core">   
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-techniques.hbs"}}
    </div>

    {{! Imbalances tab }}
    <div class="tab core" data-group="primary" data-tab="imbalances">
    {{#if system.optImbalances.enabled}}
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-optImbalances.hbs"}}
    {{else}}
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-imbalances.hbs"}}
    {{/if}}
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-equipment.hbs"}}
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Followers Tab --}}
    <div class="tab followers" data-group="primary" data-tab="followers">
       {{> "systems/lone-wolf-fists/templates/actor/parts/actor-followers.hbs"}}
    </div>

    {{!-- Dharma Tab --}}
    <div class="tab dharma" data-group="primary" data-tab="dharma">
       {{> "systems/lone-wolf-fists/templates/actor/parts/actor-dharma.hbs"}}
    </div>

    <div class="tab bio" data-group="primary" data-tab="bio">
      {{editor
        enrichedBiography
        target='system.biography'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Config tab }}
    {{#if isGM}}
    <div class="tab config" data-group="primary" data-tab="config">
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-config.hbs"}}
    </div>
    {{/if}}

  </section>
  {{/if}}
  </div>
  <div class="sidebar char-sidebar">
    <ol class='items-list full-size'>
      {{#each skill.mastered as | skill |}}
      <li class='item flex-group-center' data-item-id="{{skill._id}}">
        <div class='item-image'>
            <a
              class='item-control item-edit'
              title='{{localize "DOCUMENT.Update" type='Item'}}' data-action="editItem">
            <img
              class="mastery-image"
              src='{{skill.img}}'
              title='{{skill.name}}'
              width='40'
              height='40'
            />
          </a>
        </div>
        <h4 class="skill"><strong>{{skill.name}}</strong></h4>
      </li>
      {{/each}}
      {{#each skill.unmastered as | skill |}}
      <li class='item flex-group-center' data-item-id="{{skill._id}}">
        <div class='item-image'>
            <a
              class='item-control item-edit'
              title='{{localize "DOCUMENT.Update" type='Item'}}' data-action="editItem">
            <img
              class="skill-image"
              src='{{skill.img}}'
              title='{{skill.name}}'
              width='40'
              height='40'
            />
          </a>
        </div>
        <h4 class="skill">{{skill.name}}</h4>
      </li>
      {{/each}}
    </ol>
  </div> 
</div>

</form>

