<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>
  {{#if isGM}}
  <div class="full-size edit-container">
  {{#if system.editMode}}
  <i id="edit-mode" class="fa-solid fa-gear edit-mode-on" data-action="toggleEditMode">Play</i>
  {{else}}
  <i id="edit-mode" class="fa-solid fa-gear edit-mode-off" data-action="toggleEditMode">Edit</i>
  {{/if}}
  </div>
  {{/if}}
  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      <div class='resource'>
        <h3><strong>Armor Value: </strong>
        {{#if system.editMode}}
        <input id="armorValue" type="number" class="inline-input small-box" name='system.armorValue' value="{{system.armorValue}}" data-dtype="Number">
        {{else}}
        <i>{{system.armorValue}}</i>
        {{/if}}
        </h3>
      </div>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      <div class="tab" data-group="primary">
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
      </div>
    </div>
  </section>
</form>