<form class='{{cssClass}} lwf-sheet-form lwf-item-sheet-form' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="overview">Overview</a>
    {{#if isGM}}
    <a class="item" data-tab="edit">Edit</a>
    <a class="item" data-tab="effects">Effects</a>
    {{/if}}
  </nav>
  {{! Sheet Body }}
  <section class='sheet-body'>
    {{! Overview tab}}
    <div class="tab overview" data-group="primary" data-tab="overview">
      {{#unless (comparison system.requirements "")}}
      <p><strong>Requires {{system.requirements}}</strong></p>
      {{/unless}}
      {{#unless system.attackBoost.none}}
      <p><strong>{{system.attackBoost.name}}: </strong>Facing {{system.attackBoost.min}}{{#if system.attackBoost.doubled}} - {{system.attackBoost.max}}{{/if}}, +1 rank to {{system.attackBoost.to}}</p>
      {{/unless}}
      {{#unless system.defenseBoost.none}}
      <p><strong>{{system.defenseBoost.name}}: </strong>Facing {{system.defenseBoost.min}}{{#if system.defenseBoost.doubled}} - {{system.defenseBoost.max}}{{/if}}, +1 rank to {{system.defenseBoost.to}}</p>
      {{/unless}}
      <div data-group="primary">
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          system.techEffect
          target='system.techEffect'
          engine='prosemirror'
          button=false
          editable=false
        }}
      </div>
    </div>

    {{! Editing tab}}
    {{#if isGM}}
    <div class="tab edit" data-group="primary" data-tab="edit">
      <div class='resource flexrow'>
        <input
          type='text'
          name='system.requirements'
          value='{{system.requirements}}'
          data-dtype='String'
          placeholder="Requires..."
        />
      </div>
      
      {{! Facing/s that boost attacks with the form }}
      <div class='resource flexcolumn flex-group-center indented-element'>
        {{#unless system.attackBoost.none}}
        <label class="flex flexshrink margin-3">Attack Boost:</label>
        <input type="text" name="system.attackBoost.name" value="{{system.attackBoost.name}}" data-dtype="String" placeholder="Attack Boost Name">
        <div class="flexrow flex-group-center">
          <input type="text" class="inline-input {{#if system.attackBoost.doubled}} smallish-box {{else}} medium-box {{/if}} flex flexshrink" name='system.attackBoost.min' value="{{system.attackBoost.min}}" data-dtype="Number" placeholder="{{#if system.attackBoost.doubled}}Min{{else}}Facing{{/if}}">
          {{#if system.attackBoost.doubled}}
          <span class="flex flexshrink margin-3"> - </span> 
          <input type="text" class="inline-input smallish-box flex flexshrink" name='system.attackBoost.max' value="{{system.attackBoost.max}}" data-dtype="Number" placeholder="{{#if system.attackBoost.doubled}}Max{{/if}}">
          {{/if}}
          <input type="text" name="system.attackBoost.to" value="{{system.attackBoost.to}}" placeholder="Type of attack boosted">
        </div>
        <div class="flexrow flex-group-center">
          <input type="checkbox" class="flex" name="system.attackBoost.doubled"  {{#if system.attackBoost.doubled}}checked{{/if}} value=true>
          <label class="rightside flex">Boost affects two facings</label>
        </div>
        {{/unless}}
        <div class="flexrow flex-group-center">
          <input type="checkbox" class="flex" name="system.attackBoost.none"  {{#if system.attackBoost.none}}checked{{/if}} value=true>
          <label class="rightside flex">No attack boost</label>
        </div>
      </div>

      {{! Facing/s that boost defenses with the form}}
      <div class='resource flexcolumn flex-group-center indented-element'>
        {{#unless system.defenseBoost.none}}
        <label class="flex flexshrink margin-3">Defense Boost:</label>
        <input type="text" name="system.defenseBoost.name" value="{{system.defenseBoost.name}}" data-dtype="String" placeholder="Defense Boost Name">
        <div class="flexrow flex-group-center">
          <input type="text" class="inline-input {{#if system.defenseBoost.doubled}} smallish-box {{else}} medium-box {{/if}} flex flexshrink" name='system.defenseBoost.min' value="{{system.defenseBoost.min}}" data-dtype="Number" placeholder="{{#if system.defenseBoost.doubled}}Min{{else}}Facing{{/if}}">
          {{#if system.defenseBoost.doubled}}
          <span class="flex flexshrink margin-3"> - </span> 
          <input type="text" class="inline-input smallish-box flex flexshrink" name='system.defenseBoost.max' value="{{system.defenseBoost.max}}" data-dtype="Number" placeholder="{{#if system.defenseBoost.doubled}}Max{{/if}}">
          {{/if}}
          <input type="text" name="system.defenseBoost.to" value="{{system.defenseBoost.to}}" placeholder="Type of Defense boosted">
        </div>
        <div class="flexrow flex-group-center">
          <input type="checkbox" class="flex" name="system.defenseBoost.doubled"  {{#if system.defenseBoost.doubled}}checked{{/if}} value=true>
          <label class="rightside flex">Boost affects two facings</label>
        </div>
        {{/unless}}
        <div class="flexrow flex-group-center">
          <input type="checkbox" class="flex" name="system.defenseBoost.none"  {{#if system.defenseBoost.none}}checked{{/if}} value=true>
          <label class="rightside flex">No Defense boost</label>
        </div>
      </div>

      {{! Description of the technique's effects}}
      <h2>Effect:</h2>
      <div class="tab" data-group="primary">
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          system.techEffect
          target='system.techEffect'
          engine='prosemirror'
          button=true
          editable=editable
        }}
      </div>
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/lone-wolf-fists/templates/item/parts/item-effects.hbs"}}
    </div>
  {{/if}}
  </section>
</form>