{{! This template is a fallback for when items don't have more specific templates. }}
{{! Generally, you'll want to make more specific templates when possible. }}
<form class='{{cssClass}} lwf-sheet-form lwf-item-sheet-form' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="overview">Overview</a>
    {{#if isGM}}
    <a class="item" data-tab="edit">Edit</a>
    <a class="item" data-tab="effects">Effects</a>
    {{/if}}
  </nav>
  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='overview'>
      {{#if system.unique}}
      <div>
        <h3><strong>Tags: </strong><span>{{system.tag1}} and {{system.tag2}}</span></h3>
      </div>
      {{else}}
      <div>
        <h3><strong>Tag: </strong><span>{{system.tag1}}</span></h3>
      </div>
      {{/if}}
      {{#unless (comparison system.size 0)}}
      <div>
        <h4><strong>Size: </strong><span>{{system.size}}</span></h4>
      </div>
      {{/unless}}
      {{#unless (comparison system.strength 0)}}
      <div>
        <h4><strong>Strength: </strong><span>{{system.strength}}</span></h4>
      </div>
      {{/unless}}
      {{#if system.unique}}
      <div class="tab">
        {{editor
          system.history
          target='system.history'
          engine='prosemirror'
          button=true
          editable=editable

        }}
      </div>
      {{else}}
      <div class="tab">
        {{editor
          system.history
          target='system.history'
          engine='prosemirror'
          button=true
          editable=editable

        }}
      </div>
      {{/if}}
    </div>

    {{#if isGM}}
    {{! Attributes Tab }}
    <div class='tab edit' data-group='primary' data-tab='edit'>
      <div class='resource'>
        <select class="" name='system.tag1' data-techstat="tag1">
        {{#unless system.unorthodox}}
          {{#each tagsCore}}
          <option 
            {{#if (comparison ../system.tag1 this)}} selected="selected" {{/if}} 
            value="{{this}}">{{this}}</option>
          {{/each}}
        {{else}}
          {{#each tagsExtra}}
          <option 
            {{#if (comparison ../system.tag1 this)}} selected="selected" {{/if}} 
            value="{{this}}">{{this}}</option>
          {{/each}}
        {{/unless}}
        </select>
      </div>

      {{#if (comparison system.tag1 'Ordnance')}}
      <div class='resource'>
        <label>Strength:</label>
        <input type="text" class="inline-input small-box" name='system.strength' value="{{system.strength}}" data-dtype="Number">
      </div>
      {{/if}}

      
      {{#if (comparison system.tag1 'Grenade')}}
      <div class='resource'>
        <label>Strength:</label>
        <input type="text" class="inline-input small-box" name='system.strength' value="{{system.strength}}" data-dtype="Number">
      </div>
      {{/if}}

      {{!-- show extra tag selection if there is more than 1 tag --}}
      {{#unless system.unorthodox}}
      <div class='resource flexrow flex-group-center'>
        <input type="checkbox" class="flex" name="system.unique"  {{#if system.unique}}checked{{/if}} value=true>
        <label class="rightside flex">Weapon has two tags</label>
      </div>
      {{/unless}}
      {{#if system.unique}}
      <div class='resource'>
        <select class="" name='system.tag2' data-techstat="tag2">
        {{#each tagsCore}}
        <option 
          {{#if (comparison ../system.tag2 this)}} selected="selected" {{/if}} 
          value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
      {{/if}}
      {{#unless system.unique}}
      <div class='resource flexrow flex-group-center'>
        <input type="checkbox" class="flex" name="system.unorthodox"  {{#if system.unorthodox}}checked{{/if}} value=true>
        <label class="rightside flex">Weapon uses one of the following tags: improvised, warfighter, grenade, ordnance</label>
      </div>
      {{/unless}}
      <div class='resource'>
        <label>Size:</label>
        <input type="text" class="inline-input small-box" name='system.size' value="{{system.size}}" data-dtype="Number">
      </div>
    </div>

    {{! Effects Tab }}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/lone-wolf-fists/templates/item/parts/item-effects.hbs"}}
    </div>
    {{/if}}
  </section>
</form>