<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>
  <div class="full-size edit-container">
    {{#if isGM}}
      {{#if system.editMode}}
        <i id="edit-mode" class="fa-solid fa-gear edit-mode-on" data-action="toggleEditMode">Play</i>
        {{else}}
        <i id="edit-mode" class="fa-solid fa-gear edit-mode-off" data-action="toggleEditMode">Edit</i>
      {{/if}}
    {{/if}}
  </div>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="overview">Overview</a>
    {{#if isGM}}
      <a class="item" data-tab="effects">Effects</a>
    {{/if}}
  </nav>
  {{! Sheet Body }}
  <section class='sheet-body'>
    {{! Overview tab}}
    <div class="tab overview" data-group="primary" data-tab="overview">
      <div class="item-sheet-line">
        {{#if system.editMode}}
          <h2><select class="item-choice" name='techLvl' data-techstat="techLvl">
          {{#each techLvl}}
            <option {{#if (comparison ../system.techLvl this)}} selected="selected" {{/if}} 
              value="{{this}}">{{this}}</option>
          {{/each}}
          </select></h2>
        {{else}}
          <h2>{{system.techLvl}}</h2>
        {{/if}}
      </div>
      <div class="item-sheet-line">
        {{#if system.editMode}}
          <i><select class="item-choice" name='techType' data-techstat="techType">
          {{#each techType}}
            <option {{#if (comparison ../system.techType this)}} selected="selected" {{/if}} 
              value="{{this}}">{{this}}</option>
          {{/each}}
          </select></i>
        {{else}}
          <i>{{system.techType}}</i>
        {{/if}}
      </div>
      <div class="item-sheet-line">
        <label>Requires: </label><span>{{#if system.editMode}}<input type="text" name='system.techReqs' value="{{system.techReqs}}" data-dtype="String">{{else}}({{system.techReqs}}){{/if}}</span>
      </div>
      <div class="item-sheet-line">
        <label>Cost: </label><span>{{#if system.editMode}}<input type="text" class="inline-input smallish-box" name='system.techCost' value="{{system.techCost}}" data-dtype="String">{{else}}{{system.techCost}}{{/if}}</span>
      </div>
      <div class="item-sheet-line">
        <label>Rank: </label><span>{{#if system.editMode}}<input type="text" class="inline-input small-box" name='system.techRank' value="{{system.techRank}}" data-dtype="String">{{else}}{{system.techRank}}{{/if}}</span>
      </div>
      <div class="item-sheet-line flex-inline flex-group-center">
        <label class="margin-3-right">Facing: </label>
        <span class="flexrow flex-group-left">
          {{#if system.editMode}}
            {{#unless system.techFacing.none}}
              <input type="text" class="inline-input small-box flex flexshrink" name='system.techFacing.min' value="{{system.techFacing.min}}" data-dtype="Number">
              <span class="flex flexshrink margin-3">-</span>
              <input type="text" class="inline-input small-box flex flexshrink" name='system.techFacing.max' value="{{system.techFacing.max}}" data-dtype="Number">
            {{else}}
              None
            {{/unless}}
            <input type="checkbox" class="flex" name="system.techFacing.none"  {{#if system.techFacing.none}}checked{{/if}} value=true>
            <label class="rightside flex">No facings</label>
          {{else}}
            {{#if system.techFacing.none}} -- {{else}}{{system.techFacing.min}} - {{system.techFacing.max}}{{/if}}
          {{/if}}
        </span>
      </div>
      <div class="item-sheet-line">
        <label>Effect: </label>
        {{#if system.editMode}}
          <div class="full-size" data-group="primary">
            <textarea name="system.techEffect" rows="5">{{system.techEffect}}</textarea>
          </div>
        {{else}}
          <span>{{{techEffect}}}</span>
        {{/if}}
      </div>
      <div class="item-sheet-line">
        <label>Skill: </label>
        <span>
          {{#if system.editMode}}
            <select class="item-choice" name='techSkill' data-techstat="techSkill">
              <option 
              {{#if (comparison ../system.techSkill this)}} selected="selected" {{/if}} 
              value="-">-</option>
            {{#each skills}}
            <option 
              {{#if (comparison ../system.techSkill this)}} selected="selected" {{/if}} 
              value="{{this}}">{{this}}</option>
            {{/each}}
            </select>
          {{else}}
            {{system.techSkill}}
          {{/if}}
        </span>
      </div>
      <div class="item-sheet-line">
        <label>Keywords: </label>
        <span>
          {{#if system.editMode}}
            <input type="text" name="system.techTags" value="{{system.techTags}}" data-dtype="String">
          {{else}}
            {{system.techTags}}
          {{/if}}
        </span>
      </div>
    </div>

    {{! Editing tab}}
    {{#if isGM}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/lone-wolf-fists/templates/item/parts/item-effects.hbs"}}
      </div>
    {{/if}}
  </section>
</form>