<form class="{{cssClass}} lwf-sheet-form lwf-item-sheet-form" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="core">Core</a>
    {{#if isGM}}
    <a class="item" data-tab="edit">1. Set core stats</a>
    <a class="item" data-tab="shakti">2. Set Shakti</a>
    {{#if system.hasTechnique}}
    <a class="item" data-tab="technique">3. Set technique</a>
    {{/if}}
    <a class="item" data-tab="effects">Effects</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="core">
      <div class="item-sheet-line">
        <strong>Tier: </strong><span>{{system.tier}}</span>
      </div>
      <div class="item-sheet-line">
        <strong>Type: </strong><span>{{system.type}}</span>
      </div>
      <div class="item-sheet-line">
        <span><strong>Description: </strong>{{{artifactDescription}}}</span>
      </div>
      <div class="item-sheet-line">
        <span>
          <strong>Shakti: </strong>
          <span>{{{system.shakti}}}</span>
        </span>
      </div>
      {{#if system.hasTechnique}}
      <div class="indented-element">
        <div class="item-sheet-line">
          <h3>{{system.techniqueName}}</h3>
        </div>
        <div class="item-sheet-line">
          <i>{{system.techType}}</i>
        </div>
        <div class="item-sheet-line">
          <strong>Cost: </strong><span>{{system.techCost}}</span>
        </div>
        <div class="item-sheet-line">
          <strong>Rank: </strong><span>{{system.techRank}}</span>
        </div>
        <div class="item-sheet-line">
          <strong>Facing: </strong><span>{{#if system.techFacing.none}} -- {{else}}{{system.techFacing.min}} - {{system.techFacing.max}}{{/if}}</span>
        </div>
        <div class="item-sheet-line">
          <strong>Effect: </strong>
          <div data-group="primary">
            {{! Editors must receive enriched text data from getData to properly handle rolls }}
            {{editor
              system.techEffect
              target='system.techEffect'
              engine='prosemirror'
              button=false
              editable=false
            }}
          </div>
        </div>
        <div>
          <strong>Keywords: </strong><span>{{system.techTags}}</span>
        </div>
      </div>
      {{/if}}
      {{#if system.chakra.hasChakra}}
      <div class="item-sheet-line">
        <strong>Chakra: </strong>{{#unless (lessThan system.chakra.recovery 1)}}Recovery {{system.chakra.recovery}} {{/unless}}
        <div>
          <span>{{system.chakra.description}}</span>
        </div>
      </div>
      {{/if}}
      {{#if system.soul.hasSoul}}
      <div class="item-sheet-line">
        <strong>Soul: </strong><span>{{system.soul.description}}</span>
      </div>
      <div class="item-sheet-line">
        <strong>Dharma: </strong><span>{{system.soul.dharma}}</span>
      </div>
      {{/if}}
    </div>

    {{#if isGM}}
    {{!-- Set core stats Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="edit">
      <div class="resource">
        <label>Tier: </label>
        <select name='system.tier' data-techstat="tier">
        {{#each artifactTier}}
        <option 
          {{#if (comparison ../system.tier this)}} selected="selected" {{/if}} 
          value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
      <div class="resource">
        <label>Type: </label>
        <select name='system.type' data-techstat="type">
        {{#each artifactType}}
        <option 
          {{#if (comparison ../system.type this)}} selected="selected" {{/if}} 
          value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
      <div class="indented-element">
        <label>Description: </label>
        <textarea name="system.artifactDescription" rows="4">{{system.artifactDescription}}</textarea>
      </div>

      {{!-- Only show if weapon-type artifact --}}
      {{#if (comparison system.type "Weapon")}}
      <div class="indented-element">
        <div class='resource'>
          <span>This weapon counts as </span>
          <select id="system.tag1" name='system.tag1' data-techstat="tag1">
          {{#each artifactTags}}
            <option 
              {{#if (comparison ../system.tag1 this)}} selected="selected" {{/if}} 
              value="{{this}}">
              {{this}}
            </option>
          {{/each}}
          </select>
          {{#if system.unique}}
          <label for="system.tag2"> and </label>
          <select id="system.tag2" name='system.tag2' data-techstat="tag2">
          {{#each artifactTags}}
            <option 
              {{#if (comparison ../system.tag2 this)}} selected="selected" {{/if}} 
              value="{{this}}">{{this}}</option>
          {{/each}}
          </select>
          {{/if}}
          <span>for the purpose of techniques.</span>
          <div class='resource flexrow flex-group-center'>
            <input type="checkbox" class="flex" name="system.unique"  {{#if system.unique}}checked{{/if}} value=true>
            <label class="rightside flex">Weapon counts as two weapon types</label>
          </div>
        </div>
        <div class='resource'>
          <label>Size:</label>
          <input type="text" class="inline-input small-box" name='system.size' value="{{system.size}}" data-dtype="Number">
        </div>
      </div>
      {{/if}}

        {{!-- Armor-type artifact --}}
      {{#if (comparison system.type "Armor")}}
        <div class="resource">
          <div class='resource'>
            <label>Armor rating:</label>
            <input id="armorValue" type="number" class="inline-input small-box" name='system.armorValue' value="{{system.armorValue}}" data-dtype="Number">
          </div>
        </div>
      {{/if}}

      {{!-- All artifacts --}}
      <div>
        <div class='resource flexrow flex-group-center'>
          <input type="checkbox" class="flex" name="system.hasTechnique"  {{#if system.hasTechnique}}checked{{/if}} value=true>
          <label class="rightside flex">Artifact has attached technique</label>
        </div>
        <div class='resource flexrow flex-group-center'>
          <input type="checkbox" class="flex" name="system.chakra.hasChakra"  {{#if system.chakra.hasChakra}}checked{{/if}} value=true>
          <label class="rightside flex">Artifact has chakra</label>
        </div>
        {{#if system.chakra.hasChakra}}
        <div class="indented-element">
          <div class='resource'>
            <label>Recovery </label>
            <input type="text" class="inline-input small-box" name='system.chakra.recovery' value="{{system.chakra.recovery}}" data-dtype="Number">
          </div>
          <textarea name="system.chakra.description" rows="5">{{system.chakra.description}}</textarea>
        </div>
        {{/if}}
        <div class='resource flexrow flex-group-center'>
          <input type="checkbox" class="flex" name="system.soul.hasSoul"  {{#if system.soul.hasSoul}}checked{{/if}} value=true>
          <label class="rightside flex">Artifact has a soul</label>
        </div>
        {{#if system.soul.hasSoul}}
        <div class="indented-element">
          <label>Personality: </label>
          <textarea name="system.soul.description" rows="2">{{system.soul.description}}</textarea>
          <label>Dharma: </label>
          <input type="text" class="inline-input very-large-box flex flexshrink" name="system.soul.dharma" value="{{system.soul.dharma}}" data-dtype="String">
        </div>
        {{/if}}
      </div>
    </div>

    {{!-- Shakti tab --}}
    <div class="tab" data-group="primary" data-tab="shakti">
      {{editor
        system.shakti
        target='system.shakti'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{!-- Attached Technique Tab --}}
    {{#if system.hasTechnique}}
    <div class="tab effects" data-group="primary" data-tab="technique">
      <h2 class="charname"><input class="left" name="system.techniqueName" type="text" value="{{system.techniqueName}}" placeholder="Technique Name"></h2>
      <div class='resource'>
        <select class="item-choice" name='techType' data-techstat="techType">
        {{! Iterates over the list of technique types to produce a select menu.}} 
        {{! List can be edited at lone-wolf-fists\module\helpers\technique-config.mjs}}
        {{#each techType}}
        <option 
          {{! Makes sure that the default source shown is the one currently set on the imbalance}}
          {{#if (comparison ../system.techType this)}} selected="selected" {{/if}} 
          value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
      {{! Ranks added}}
      <div class='resource'>
        <label>Rank:</label>
        <input type="text" class="inline-input small-box" name='system.techRank' value="{{system.techRank}}" data-dtype="Number">
      </div>

      {{! Prana cost }}
      <div class='resource'>
        <label>Cost:</label>
        <input type="text" class="inline-input small-box" name='system.techCost' value="{{system.techCost}}" data-dtype="Number">
      </div>

    {{! Facings }}
      <div class='resource flexrow flex-group-left'>
        <label class="flex flexshrink margin-3">Facing:</label>
        {{#unless system.techFacing.none}}
        <input type="text" class="inline-input small-box flex flexshrink" name='system.techFacing.min' value="{{system.techFacing.min}}" data-dtype="Number">
        <span class="flex flexshrink margin-3">-</span>
        <input type="text" class="inline-input small-box flex flexshrink" name='system.techFacing.max' value="{{system.techFacing.max}}" data-dtype="Number">
        {{else}}
        None
        {{/unless}}
        <input type="checkbox" class="flex" name="system.techFacing.none"  {{#if system.techFacing.none}}checked{{/if}} value=true>
        <label class="rightside flex">No facings</label>
      </div>
    
    {{!-- Keywords --}}
      <div class="resource">
        <label>Keywords: </label>
        <input type="text" class="inline-input large-box flex flexshrink" name="system.techTags" value="{{system.techTags}}" data-dtype="String">
      </div>
    {{! Description of the technique's effects}}
      <h2>Effect:</h2>
      <div class="tab" data-group="primary">
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          system.techEffect
          target='system.techEffect'
          engine='prosemirror'
          button=true
          editable=editable
        }}
      </div>
    </div>
    {{/if}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/lone-wolf-fists/templates/item/parts/item-effects.hbs"}}
    </div>
    {{/if}}
  </section>

</form>
