<form class='{{cssClass}} lwf-sheet-form lwf-item-sheet-form' autocomplete='off'>
  <header class='sheet-header'>
      <img
        id='ability-image'
        src='{{item.img}}'
        data-edit='img'
        height="90"
        width="90"
        title='{{item.name}}'
      />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          id="ability-name"
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class="flex flex-group-center">
        <i><h4 class="full-size flex-group-center">
        {{#if system.editMode}}
          <select class="item-choice" name='system.subtype' data-techstat="subtype">
          {{#each abilityType}}
          <option 
            {{#if (comparison ../system.subtype this)}}
              selected="selected"
            {{/if}} 
            value="{{this}}">{{this}}
            </option>
          {{/each}}
          </select>
        {{else}}
          {{system.subtype}}
        {{/if}}
        </h4></i>
      </div>
      <div class="flexrow">
        {{#unless (comparison system.subtype 'Capability')}}
        <div id="intensity" class="flex-column flex-group-center npc-sidebar">
          {{#if system.editMode}}
          <label for="intensity-input" class="resource-label">Intensity</label>
          <div id="intensity-input-container" class=" flex-group-center flexshrink">
            <input id="intensity-input" class="font-size-20" type="text" name="system.effect.intensity" value="{{system.effect.intensity}}" data-dtype="String">
          </div>
          {{else}}
            <h4 id="intensity-input" class="font-size-20">{{system.effect.intensity}}</h4>
          {{/if}}
        </div>
        {{/unless}}
        <div id="target" class="flex-column flex-group-center npc-sidebar">
          {{#if (comparison system.subtype 'Charge Attack')}}
            {{#if system.editMode}}
            <label for="sets-input" class="resource-label">Sets</label>
            <div id="sets-input-container" class=" flex-group-center flexshrink">
              <input id="sets-input" class="smallish-box font-size-20" type="text" name="system.effect.sets" value="{{system.effect.sets}}" data-dtype="String">
            </div>
            {{else}}
              <h4 id="sets-input" class="font-size-20">{{system.effect.sets}}</h4>
            {{/if}}
          {{else}}
            {{#if system.editMode}}
            <label for="target-input" class="resource-label">Affects</label>
            <div id="target-input-container" class=" flex-group-center flexshrink">
              <input id="sets-input" {{#if (comparison system.subtype 'Capability')}} class="large-box font-size-20" {{else}}class="medium-box font-size-20" {{/if}} type="text" name="system.effect.target" value="{{system.effect.target}}" data-dtype="String">
            </div>
            {{else}}
              <h4 id="target-input" class="font-size-20">{{system.effect.target}}</h4>
            {{/if}}
          {{/if}}
        </div>
        {{#if (comparison system.subtype 'Power')}}
          <div id="frequency" class="flex-column flex-group-center npc-sidebar">
            {{#if system.editMode}}
            <label for="frequency-input" class="resource-label">Frequency</label>
            <div id="frequency-input-container" class=" flex-group-center flexshrink">
              <input id="frequency-input" class="smallish-box font-size-20" type="text" name="system.effect.frequency" value="{{system.effect.frequency}}" data-dtype="Number">
              <span>/</span>
              <select name='system.effect.duration' data-techstat="effect.duration">
              {{#each duration}}
              <option 
                {{#if (comparison ../system.effect.duration this)}}
                  selected="selected"
                {{/if}} 
                value="{{this}}">{{this}}
                </option>
              {{/each}}
              </select>
            </div>
            {{else}}
              <h4 id="frequency-input" class="font-size-20">{{system.effect.frequency}}/{{system.effect.duration}}</h4>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  <div class="full-size edit-container">
    {{#if system.editMode}}
    <i id="edit-mode" class="fa-solid fa-gear edit-mode-on" data-action="toggleEditMode">Play</i>
    {{else}}
    <i id="edit-mode" class="fa-solid fa-gear edit-mode-off" data-action="toggleEditMode">Edit</i>
    {{/if}}
  </div>
  

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>
  </section>
</form>